// General Variables
$default-br: 1px solid rgb(226, 230, 235);
$drop-br: 2px solid rgb(245, 56, 88);

// Toggle Button Variables
$toggle-cl: rgb(63, 63, 71);
$toggle-cl-active: blue;
$toggle-bg-active: rgb(230, 236, 240);

// Page Variables
$page-br: 1px solid rgb(226, 230, 235);
$page-shadow: 0px 0px 20px -12px rgba(0, 0, 0, 0.5);
$page-bg: rgb(250, 248, 242);
$page-drop-outline: $drop-br;

// Controller Variables
$controller-br: 2px solid rgb(97, 106, 112);
$controls-br: 1px solid rgb(97, 106, 112);
$controls-bg: white;

// Element Variables
$element-br: 3px solid transparent;
$element-br-hover: 3px solid rgba(255, 123, 0, 0.288);
$audio-link-cl: rgb(105, 131, 219);

// Materials
$material-br: 2px solid transparent;
$material-br-active: $drop-br;

// EDITOR
.pe-editor {
   display: flex;
   flex-direction: column;
   align-items: center;
}

// PAGE
.pe-editor .pe-page {
   padding: 10px;
   margin-top: 1rem;
   display: block;
   border: $page-br;
   border-radius: 0px;
   background-color: $page-bg;
   overflow: hidden;
   position: relative;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   box-shadow: $page-shadow;
   -webkit-box-shadow: $page-shadow;
}

// DRAG DROP
.pe-editor .pe-page-can-drop {
   outline: $page-drop-outline;
}
.pe-drop-item {
   transition: 0.4s;
   border: $material-br;
   cursor: grab;
}
.pe-active-drop-item {
   transition: 0.4s;
   border: $material-br-active;
}

// TOOLBAR
.pe-toolbar {
   width: 100%;
   display: flex;
   align-items: center;
   height: 50px;
}

// OPTIONS TOOLBAR
.pe-options-toolbar {
   width: min-content;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 999999999999;
   height: 30px;

   // TOOL
   .pe-tool {
      padding: 0 4px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   // TOGGLE BOLD-ITALIC-STRIKE
   .pe-toggle-bold,
   .pe-toggle-italic,
   .pe-toggle-strike {
      input {
         display: none;
      }
      input:checked + img {
         background-color: $toggle-bg-active;
      }
      img {
         cursor: pointer;
         border-radius: 6px;
         width: 30px;
         height: 100%;
         background-color: transparent;
      }
   }

   // FONT SELECTOR
   .pe-change-font select {
      width: 150px;
      height: 31px;
      border: $default-br;
      padding: 5px 8px;
      border-radius: 8px;
      -webkit-appearance: none;
      background: url('../icons/select-arrow.svg') no-repeat right
         rgb(255, 255, 255);
      &:focus {
         outline: none;
      }
   }

   // FONT SIZE SELECTOR
   .pe-change-font-size select {
      width: 60px;
      height: 31px;
      border: $default-br;
      padding: 5px 8px;
      border-radius: 7px;
      margin-right: 4px;
      -webkit-appearance: none;
      background: url('../icons/select-arrow.svg') no-repeat right
         rgb(255, 255, 255);
      &:focus {
         outline: none;
      }
   }

   // ALIGN SELECTOR
   .pe-change-align {
      border-radius: 6px;
      cursor: pointer;
      position: relative;
      padding: 0;
      width: 32px;
      margin-right: 8px;
      .pe-align-selected {
         &:hover {
            background-color: $toggle-bg-active;
         }
         width: 24px;
         padding: 3px 4px;
         border-radius: 5px;
      }
      .pe-align-menu {
         overflow: hidden;
         background-color: white;
         display: flex;
         flex-direction: column;
         top: 26px;
         left: 0;
         right: 0;
         position: absolute;
         align-items: center;
         outline: $default-br;
         border-bottom-left-radius: 6px;
         border-bottom-right-radius: 6px;
         img {
            &:hover {
               background-color: $toggle-bg-active;
            }
            width: 24px;
            padding: 2px 4px;
            height: 30px;
         }
      }
   }

   // ALPHA SELECTOR
   .pe-change-alpha {
      position: relative;
      .pe-alpha-icon {
         width: 32px;
         height: 28px;
         cursor: pointer;
         border-radius: 6px;
         display: flex;
         justify-content: center;
         img {
            width: 20px;
         }
      }

      .pe-alpha-menu {
         position: absolute;
         top: 32px;
         left: 0;
         background-color: white;
         border: $default-br;
         border-radius: 8px;
         display: flex;
         height: 27px;
         width: 160px;
         align-items: center;
         justify-content: center;
         .pe-alpha-slider {
            -webkit-appearance: none;
            appearance: none;
            background-color: rgb(213, 225, 231);
            height: 7px;
            border: 1px solid rgb(104, 112, 116);
            border-radius: 5px;
            outline: none;
            &::-webkit-slider-thumb {
               -webkit-appearance: none;
               appearance: none;
               width: 16px;
               height: 16px;
               border: 3px solid rgb(69, 81, 97);
               border-radius: 100%;
               background: rgb(213, 225, 231);
               cursor: pointer;
            }
            &::-moz-range-thumb {
               width: 16px;
               height: 16px;
               border: 3px solid rgb(69, 81, 97);
               border-radius: 100%;
               background: rgb(213, 225, 231);
               cursor: pointer;
            }
         }
      }
   }

   // COLOR SELECTOR
   .pe-change-color {
      width: 28px;
      height: 30px;
      cursor: pointer;
      border-radius: 6px;
      background-color: white;
      margin-right: 5px;
      position: relative;
      .pe-color-area {
         width: 100%;
         height: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         img {
            width: 20px;
         }
         .pe-color-indicator {
            width: 24px;
            height: 4px;
            border-radius: 3px;
         }
      }
      .pe-change-color-picker {
         z-index: 99;
         cursor: pointer;
         top: 0;
         left: 0;
         position: absolute;
         width: 100%;
         height: 100%;
         border-radius: 6px;
         opacity: 0;
         &::-webkit-color-swatch {
            display: none;
         }
         &::-moz-color-swatch {
            display: none;
         }
      }
   }

   // FLIP HORIZONTAL-VERTICAL-BACK-FRONT
   .pe-flip-horizontal,
   .pe-flip-vertical,
   .pe-flip-back,
   .pe-flip-front {
      button {
         background: none;
         border: none;
         border-radius: 6px;
         cursor: pointer;
         height: 100%;
      }
      img {
         width: 22px;
      }
   }
}

// HISTORY TOOLBAR
.pe-history-toolbar {
   margin-left: auto;
   width: min-content;
   height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 99999;
   // TOOL
   .pe-tool {
      padding: 0 4px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .pe-undo,
   .pe-redo {
      button {
         width: 32px;
         height: 32px;
         background: none;
         border: $default-br;
         border-radius: 100%;
         cursor: pointer;
      }
      img {
         width: 16px;
      }

      &.pe-is-disabled {
         button {
            cursor: not-allowed;
         }
         img {
            filter: opacity(0.4);
         }
      }
   }
}

// EDITOR ELEMENT
.pe-editor .pe-page .pe-element {
   // GENERAL ITEM STYLES
   &:not(.pe-is-active) {
      .pe-item {
         cursor: pointer !important;
      }
   }
   &.pe-is-hovered {
      transition: 0.2s;
      border: $element-br-hover;
   }

   &.pe-is-active {
      border: $element-br !important;
      .pe-item {
         cursor: unset !important;
      }
   }
}

// ELEMENT
.pe-element {
   border: $element-br;
   box-sizing: border-box;
   touch-action: none;
}

// CONTROLLER
.pe-controller {
   box-sizing: border-box;
   touch-action: none;
   position: absolute;
   display: none;
   border: $controller-br;
   width: 300px;
   pointer-events: none;
   justify-content: center;
   &.pe-is-active {
      display: flex;
   }
   &.pe-is-resizable {
      .pe-thumbs {
         display: unset;
      }
   }
   // CONTROLS
   .pe-controls {
      position: absolute;
      bottom: 10px;
      width: fit-content;
      height: 24px;
      background-color: $controls-bg;
      border: $controls-br;
      border-radius: 12px;
      padding: 5px;
      z-index: 99999999;
      display: flex;
      justify-content: center;
      .pe-delete-handle,
      .pe-rotate-handle,
      .pe-move-handle {
         margin: 0 5px;
         cursor: pointer;
         pointer-events: auto;
      }
   }
   // THUMBS
   .pe-thumbs {
      display: none;
      .pe-thumb {
         position: absolute;
         width: 9px;
         height: 9px;
         background: $page-bg;
         border: $controller-br;
         pointer-events: auto;

         &.pe-thumb-tl {
            top: 0;
            left: 0;
            margin-top: -8px;
            margin-left: -8px;
         }

         &.pe-thumb-tr {
            top: 0;
            right: 0;
            margin-top: -8px;
            margin-right: -8px;
         }

         &.pe-thumb-bl {
            bottom: 0;
            left: 0;
            margin-bottom: -8px;
            margin-left: -8px;
         }

         &.pe-thumb-br {
            bottom: 0;
            right: 0;
            margin-bottom: -8px;
            margin-right: -8px;
         }
      }
   }
}
