// HAS DISPLAY NONE
.pe-hidden {
   display: none !important;
}

// TEXT HELPERS
.pe-is-bold {
   font-weight: bold;
}
.pe-is-italic {
   font-style: italic;
}
.pe-is-strike {
   text-decoration: line-through;
}
