#editor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid red;
}

#editor .page {
  padding: 10px;
  margin-top: 1rem;
  display: block;
  border: 1px solid #e2e6eb;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#toolbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e2e6eb;
  height: 50px;
}

#options-toolbar {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99999;
  height: 30px;
}

#options-toolbar .tool {
  padding: 0 4px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#options-toolbar #toggle-bold,
#options-toolbar #toggle-italic,
#options-toolbar #toggle-strike {
  position: relative;
}

#options-toolbar #toggle-bold input,
#options-toolbar #toggle-italic input,
#options-toolbar #toggle-strike input {
  display: none;
}

#options-toolbar #toggle-bold input:checked + label,
#options-toolbar #toggle-italic input:checked + label,
#options-toolbar #toggle-strike input:checked + label {
  background-color: #f1f1f1;
}

#options-toolbar #toggle-bold label,
#options-toolbar #toggle-italic label,
#options-toolbar #toggle-strike label {
  cursor: pointer;
  border: 1px solid #e2e6eb;
  border-radius: 6px;
  width: 30px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

#options-toolbar #change-font select {
  width: 130px;
  height: 31px;
  border: 1px solid #e2e6eb;
  padding: 5px 8px;
  border-radius: 8px;
  -webkit-appearance: none;
  background: url("icos/select-arrow.svg") no-repeat right white;
}

#options-toolbar #change-font select:focus {
  outline: none;
}

#options-toolbar #change-font-size select {
  width: 60px;
  height: 31px;
  border: 1px solid #e2e6eb;
  padding: 5px 8px;
  border-radius: 7px;
  margin-right: 4px;
  -webkit-appearance: none;
  background: url("icos/select-arrow.svg") no-repeat right white;
}

#options-toolbar #change-font-size select:focus {
  outline: none;
}

#options-toolbar #change-align {
  border: 1px solid #e2e6eb;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  padding: 0;
  width: 32px;
  margin-right: 8px;
}

#options-toolbar #change-align .selected {
  width: 24px;
  padding: 3px 4px;
  border-radius: 5px;
}

#options-toolbar #change-align .selected:hover {
  background-color: #f1f1f1;
}

#options-toolbar #change-align .menu {
  overflow: hidden;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 26px;
  left: 0;
  right: 0;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: 1px solid #e2e6eb;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

#options-toolbar #change-align .menu img {
  width: 24px;
  padding: 2px 4px;
  height: 30px;
}

#options-toolbar #change-align .menu img:hover {
  background-color: #f1f1f1;
}

#options-toolbar #change-alpha {
  position: relative;
}

#options-toolbar #change-alpha .icon {
  width: 32px;
  height: 28px;
  border: 1px solid #e2e6eb;
  cursor: pointer;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#options-toolbar #change-alpha .icon img {
  width: 20px;
}

#options-toolbar #change-alpha .menu {
  position: absolute;
  top: 32px;
  left: 0;
  background-color: white;
  border: 1px solid #e2e6eb;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 27px;
  width: 160px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#options-toolbar #change-alpha .menu #alpha-slider {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: #d5e1e7;
  height: 7px;
  border: 1px solid #687074;
  border-radius: 5px;
  outline: none;
}

#options-toolbar #change-alpha .menu #alpha-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 3px solid #455161;
  border-radius: 100%;
  background: #d5e1e7;
  cursor: pointer;
}

#options-toolbar #change-alpha .menu #alpha-slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border: 3px solid #455161;
  border-radius: 100%;
  background: #d5e1e7;
  cursor: pointer;
}

#options-toolbar #change-color {
  width: 28px;
  height: 30px;
  cursor: pointer;
  border: 1px solid #e2e6eb;
  border-radius: 6px;
  background-color: white;
  margin-right: 5px;
  position: relative;
}

#options-toolbar #change-color .area {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#options-toolbar #change-color .area img {
  width: 20px;
}

#options-toolbar #change-color .area #color-indicator {
  width: 24px;
  height: 4px;
  border: 1px solid #e2e6eb;
  border-radius: 3px;
}

#options-toolbar #change-color #change-color-picker {
  z-index: 99;
  cursor: pointer;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  opacity: 0;
}

#options-toolbar #change-color #change-color-picker::-webkit-color-swatch {
  display: none;
}

#options-toolbar #change-color #change-color-picker::-moz-color-swatch {
  display: none;
}

#options-toolbar #flip-horizontal button,
#options-toolbar #flip-vertical button,
#options-toolbar #flip-back button,
#options-toolbar #flip-front button {
  background: none;
  border: 1px solid #e2e6eb;
  border-radius: 6px;
  cursor: pointer;
  height: 100%;
}

#options-toolbar #flip-horizontal img,
#options-toolbar #flip-vertical img,
#options-toolbar #flip-back img,
#options-toolbar #flip-front img {
  width: 22px;
}

#options-toolbar #audio-playback {
  border: 1px solid #e2e6eb;
  width: 180px;
  border-radius: 8px;
  margin-left: 8px;
}

#options-toolbar #audio-playback .player {
  height: 30px;
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#options-toolbar #audio-playback #audio-play-button {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

#options-toolbar #audio-playback #audio-playback-slider {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  background: #e8edee;
  height: 12px;
  border: 1px solid #bfc4c5;
  border-radius: 12px;
  outline: none;
  cursor: pointer;
  margin: 0 8px;
}

#options-toolbar #audio-playback #audio-playback-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #434547;
  border-radius: 100%;
  background: #92a7b3;
  cursor: pointer;
}

#options-toolbar #audio-playback #audio-playback-slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border: 1px solid #434547;
  border-radius: 100%;
  background: #92a7b3;
  cursor: pointer;
}

#history-toolbar {
  margin-left: auto;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99999;
}

#history-toolbar .tool {
  padding: 0 4px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#history-toolbar #undo button,
#history-toolbar #redo button {
  height: 100%;
  background: none;
  border: 1px solid #e2e6eb;
  border-radius: 100%;
  cursor: pointer;
}

#history-toolbar #undo img,
#history-toolbar #redo img {
  width: 16px;
}

#history-toolbar #undo.is-disabled button,
#history-toolbar #redo.is-disabled button {
  cursor: not-allowed;
}

#history-toolbar #undo.is-disabled img,
#history-toolbar #redo.is-disabled img {
  -webkit-filter: opacity(0.4);
          filter: opacity(0.4);
}

#editor .page .element:not(.is-active) .item {
  cursor: pointer !important;
}

.element {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-touch-action: none;
      touch-action: none;
}

.element.is-active .item {
  cursor: unset !important;
}

#controller {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-touch-action: none;
      touch-action: none;
  position: absolute;
  display: none;
  border: 2px solid #616a70;
  width: 300px;
  height: 300px;
  pointer-events: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#controller.is-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#controller.is-resizable .thumbs {
  display: unset;
}

#controller .controls {
  position: absolute;
  bottom: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 24px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 12px;
  padding: 5px;
  z-index: 99999999;
}

#controller .controls #delete-handle,
#controller .controls #rotate-handle,
#controller .controls #move-handle {
  margin: 0 5px;
  cursor: pointer;
  pointer-events: auto;
}

#controller .thumbs {
  display: none;
}

#controller .thumbs .thumb {
  position: absolute;
  width: 9px;
  height: 9px;
  background: white;
  border: 2px solid #616a70;
  pointer-events: auto;
}

#controller .thumbs .thumb.tl {
  top: 0;
  left: 0;
  margin-top: -8px;
  margin-left: -8px;
}

#controller .thumbs .thumb.tr {
  top: 0;
  right: 0;
  margin-top: -8px;
  margin-right: -8px;
}

#controller .thumbs .thumb.bl {
  bottom: 0;
  left: 0;
  margin-bottom: -8px;
  margin-left: -8px;
}

#controller .thumbs .thumb.br {
  bottom: 0;
  right: 0;
  margin-bottom: -8px;
  margin-right: -8px;
}
/*# sourceMappingURL=editor.css.map */