// Open Sans, sans-serif
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
// Bungee, cursive;
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
// Lilita One, cursive
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
// Poller One, cursive
@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');
// Courier Prime, monospace
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
// Shrikhand, cursive
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

// other styles
.is-bold {
   font-weight: bold;
}
.is-italic {
   font-style: italic;
}
.is-strike {
   text-decoration: line-through;
}
