.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#active-page {
  margin-top: 1rem;
  display: block;
  border: 1px solid #e2e6eb;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.has-display-none {
  display: none !important;
}

.controller {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  border: 1px solid #e2e6eb;
  border-radius: 12px;
  z-index: 99999;
}

.controller .el {
  padding: 0 4px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.controller #toggle-bold,
.controller #toggle-italic,
.controller #toggle-strike {
  position: relative;
}

.controller #toggle-bold input,
.controller #toggle-italic input,
.controller #toggle-strike input {
  display: none;
}

.controller #toggle-bold input:checked + label,
.controller #toggle-italic input:checked + label,
.controller #toggle-strike input:checked + label {
  background-color: #f1f1f1;
}

.controller #toggle-bold label,
.controller #toggle-italic label,
.controller #toggle-strike label {
  cursor: pointer;
  border: 1px solid #e2e6eb;
  border-radius: 6px;
  width: 30px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.controller #change-font select {
  width: 130px;
  border: 1px solid #e2e6eb;
  padding: 8px 12px;
  border-radius: 10px;
  background: none;
}

.controller #change-font select:focus {
  outline: none;
}

.controller #change-font-size select {
  width: 80px;
  border: 1px solid #e2e6eb;
  padding: 8px 12px;
  border-radius: 10px;
  background: none;
}

.controller #change-font-size select:focus {
  outline: none;
}

.controller #change-align {
  border: 1px solid #e2e6eb;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  padding: 0;
  width: 32px;
  margin-right: 4px;
}

.controller #change-align .selected {
  width: 24px;
  padding: 3px 4px;
  border-radius: 5px;
}

.controller #change-align .selected:hover {
  background-color: #f1f1f1;
}

.controller #change-align .menu {
  overflow: hidden;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 26px;
  left: 0;
  right: 0;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: 1px solid #e2e6eb;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.controller #change-align .menu img {
  width: 24px;
  padding: 2px 4px;
  height: 30px;
}

.controller #change-align .menu img:hover {
  background-color: #f1f1f1;
}

.controller #change-alpha {
  position: relative;
}

.controller #change-alpha .selected {
  border: 1px solid #e2e6eb;
  border-radius: 6px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 28px;
}

.controller #change-alpha .selected img {
  width: 20px;
}

.controller #change-alpha .selected p {
  padding: 1px 3px;
  font-family: sans-serif;
  font-size: 0.8rem;
  border: 1px solid #e2e6eb;
  border-radius: 4px;
  color: #464749;
}

.controller #change-alpha .menu {
  position: absolute;
  top: 32px;
  left: 0;
  background-color: white;
  border: 1px solid #e2e6eb;
  border-radius: 6px;
}

.controller #change-alpha .menu #alpha-slider {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: black;
  height: 7px;
  border-radius: 5px;
  outline: none;
}

.controller #change-alpha .menu #alpha-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  outline: 1px solid white;
  border: 3px solid black;
  border-radius: 100%;
  background: white;
  cursor: pointer;
}

.controller #change-alpha .menu #alpha-slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  outline: 1px solid white;
  border: 3px solid black;
  border-radius: 100%;
  background: white;
  cursor: pointer;
}

.controller #change-color {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border: 1px solid #e2e6eb;
  border-radius: 6px;
  background-color: white;
}

.controller #change-color input {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  width: 29px;
  height: 100%;
}

.controller #change-color input::-webkit-color-swatch {
  border-radius: 5px;
  border: none;
}

.controller #change-color input::-moz-color-swatch {
  border-radius: 5px;
  border: none;
}

.controller #flip-horizontal button,
.controller #flip-vertical button,
.controller #flip-back button,
.controller #flip-front button {
  background: none;
  border: 1px solid #e2e6eb;
  border-radius: 6px;
  cursor: pointer;
}

.element {
  position: absolute;
  -ms-touch-action: none;
      touch-action: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  border: 2px solid transparent;
}

.element.is-active {
  border: 2px solid #616a70;
}

.element.is-active .controls {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.element.is-active .thumb {
  display: unset;
}

.element .item {
  resize: none;
  border: none;
  width: 100%;
  height: 100%;
  background: none;
  padding: 1rem;
}

.element .controls {
  display: none;
  position: absolute;
  bottom: 10px;
  width: 100px;
  height: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  background-color: white;
  border-radius: 12px;
  border: 1px solid grey;
  padding: 5px;
}

.element .controls .delete-handle,
.element .controls .rotation-handle,
.element .controls .move-handle {
  margin: 0 5px;
  cursor: pointer;
}

.element .thumb {
  display: none;
  position: absolute;
  width: 9px;
  height: 9px;
  background: white;
  border: 2px solid #616a70;
}

.element .thumb.tl {
  top: 0;
  left: 0;
  margin-top: -8px;
  margin-left: -8px;
}

.element .thumb.tr {
  top: 0;
  right: 0;
  margin-top: -8px;
  margin-right: -8px;
}

.element .thumb.bl {
  bottom: 0;
  left: 0;
  margin-bottom: -8px;
  margin-left: -8px;
}

.element .thumb.br {
  bottom: 0;
  right: 0;
  margin-bottom: -8px;
  margin-right: -8px;
}

.element.is-image .item {
  padding: 0;
}

.element.is-text .item {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.element.is-text .item::-webkit-scrollbar {
  display: none;
}

.element.is-text .item:focus {
  outline: none !important;
}
/*# sourceMappingURL=main.css.map */