$controller-bg: white;
$controller-bg-hover: rgb(234, 240, 243);
$border-color: rgb(226, 230, 235);
$default-br: 1px solid $border-color;

$toggle-bg: white;
$toggle-bg-active: rgb(241, 241, 241);

// MAIN
.main {
   display: flex;
   flex-direction: column;
   width: 100%;
   align-items: center;
}

// BOOK
.book {
   margin: 1rem;
   border: $default-br;
   overflow: hidden;
   border-radius: 12px;
   .page {
      border: none;
      width: 100%;
      height: 100%;
   }
}

// ELEMENT
.element {
   position: relative;
   border-radius: 12px;
   touch-action: none;
   box-sizing: border-box;
   display: flex;
   justify-content: center;
   .item {
      width: 100%;
   }
}
.element.is-active {
   .controls {
      display: flex !important;
   }
}

// BASIC CONTROLS
.controls {
   position: absolute;
   bottom: -30px;
   display: none;
   justify-content: center;
   width: 100%;
   height: 22px;
   overflow: hidden;
   .delete-handle,
   .rotation-handle,
   .move-handle {
      margin: 0 5px;
      cursor: pointer;
   }
}

// CONTROLLER
.controller {
   width: min-content;
   height: 30px;
   display: flex;
   justify-content: center;
   padding: 10px;
   border: $default-br;
   border-radius: 12px;
   .el {
      padding: 0 4px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   #toggle-bold,
   #toggle-italic,
   #toggle-strike {
      position: relative;
      input {
         display: none;

         &:checked + label {
            background-color: $toggle-bg-active;
         }
      }
      label {
         cursor: pointer;
         border: $default-br;
         border-radius: 6px;
         width: 30px;
         height: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         background-color: $toggle-bg;
      }
   }

   #change-font select {
      width: 130px;
      border: $default-br;
      padding: 8px 12px;
      border-radius: 10px;
      background: none;
   }
   #change-font-size select {
      width: 80px;
      border: $default-br;
      padding: 8px 12px;
      border-radius: 10px;
      background: none;
   }

   #change-align {
      border: $default-br;
      border-radius: 6px;
      cursor: pointer;
      position: relative;
      padding: 0;
      width: 32px;
      .selected {
         &:hover {
            background-color: $toggle-bg-active;
         }
         width: 24px;
         padding: 3px 4px;
         border-radius: 5px;
      }
      .menu {
         overflow: hidden;
         background-color: white;
         display: flex;
         flex-direction: column;
         top: 26px;
         left: 0;
         right: 0;
         position: absolute;
         align-items: center;
         outline: $default-br;
         border-bottom-left-radius: 6px;
         border-bottom-right-radius: 6px;
         img {
            &:hover {
               background-color: $toggle-bg-active;
            }
            width: 24px;
            padding: 2px 4px;
            height: 30px;
         }
      }
   }

   #change-color input {
      width: 32px;
      height: 32px;
      padding: 2px;
      border: $default-br;
      border-radius: 6px;
      background-color: white;
      display: flex;
      align-items: center;
      cursor: pointer;
      &::-webkit-color-swatch {
         border-radius: 5px;
         border: none;
      }
      &::-moz-color-swatch {
         border-radius: 5px;
         border: none;
      }
   }

   #flip-horizontal,
   #flip-vertical,
   #flip-back,
   #flip-front {
      button {
         background: none;
         border: $default-br;
         border-radius: 6px;
         cursor: pointer;
      }
   }
}

// IMAGE ELEMENT
.element.is-image {
   width: 180px;
   min-width: 100px;
}
// IMAGE ITEM PASSIVE
.element img.item {
   border: none;
}
// IMAGE ITEM ACTIVE
.element.is-active img.item {
   border: $default-br;
   border-radius: 16px;
}

// TEXT ELEMENT
.element.is-text {
   min-width: 200px;
   height: min-content;
   width: min-content;
   max-width: 100%;
}
// TEXT ITEM PASSIVE
.element textarea.item {
   resize: none;
   overflow: scroll;
   min-height: 50px;
   padding: 1rem;
   background: none;
   border: none;
   border-radius: 16px;
   cursor: move !important;
   -ms-overflow-style: none;
   scrollbar-width: none;
   &::-webkit-scrollbar {
      display: none;
   }
}
// TEXT ITEM ACTIVE
.element.is-active textarea.item {
   resize: both;
   border: $default-br !important;
   border-radius: 16px;
   cursor: text !important;
}

// HAS DISPLAY NONE
.has-display-none {
   display: none !important;
}
