$controller-bg: white;
$controller-bg-hover: rgb(234, 240, 243);
$border-color: rgb(226, 230, 235);
$default-br: 1px solid $border-color;

$element-br: 2px solid rgb(97, 106, 112);
$element-br-transparent: 2px solid transparent;
$element-br-radius: 12px;

$controls-br: 1px solid grey;

$toggle-bg: white;
$toggle-bg-active: rgb(241, 241, 241);

// REMOVE LATER |||||||||||||||||||||||||||
body {
   width: 1000px;
   margin: auto;
   margin-top: 120px;
}

// MAIN
.main-container {
   padding: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   border: 1px solid red;
}

// PAGE
#active-page {
   margin-top: 1rem;
   display: block;
   border: $default-br;
   border-radius: 12px;
   overflow: hidden;
   position: relative;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

// HAS DISPLAY NONE
.has-display-none {
   display: none !important;
}

// CONTROLLERS
#controllers {
   width: 100%;
   display: flex;
}

// ELEMENT CONTROLLER
.element-controller {
   width: min-content;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 99999;
   height: 30px;

   // GENERAL CONTROL ELEMENT
   .el {
      padding: 0 4px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   // TOGGLE BOLD-ITALIC-STRIKE
   #toggle-bold,
   #toggle-italic,
   #toggle-strike {
      position: relative;
      input {
         display: none;

         &:checked + label {
            background-color: $toggle-bg-active;
         }
      }
      label {
         cursor: pointer;
         border: $default-br;
         border-radius: 6px;
         width: 30px;
         height: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         background-color: $toggle-bg;
      }
   }

   // FONT SELECTOR
   #change-font select {
      width: 130px;
      border: $default-br;
      padding: 8px 12px;
      border-radius: 10px;
      background: none;

      &:focus {
         outline: none;
      }
   }

   // FONT SIZE SELECTOR
   #change-font-size select {
      width: 70px;
      border: $default-br;
      padding: 8px 12px;
      border-radius: 10px;
      background: none;
      &:focus {
         outline: none;
      }
   }

   // ALIGN SELECTOR
   #change-align {
      border: $default-br;
      border-radius: 6px;
      cursor: pointer;
      position: relative;
      padding: 0;
      width: 32px;
      margin-right: 4px;
      .selected {
         &:hover {
            background-color: $toggle-bg-active;
         }
         width: 24px;
         padding: 3px 4px;
         border-radius: 5px;
      }
      .menu {
         overflow: hidden;
         background-color: white;
         display: flex;
         flex-direction: column;
         top: 26px;
         left: 0;
         right: 0;
         position: absolute;
         align-items: center;
         outline: $default-br;
         border-bottom-left-radius: 6px;
         border-bottom-right-radius: 6px;
         img {
            &:hover {
               background-color: $toggle-bg-active;
            }
            width: 24px;
            padding: 2px 4px;
            height: 30px;
         }
      }
   }

   // ALPHA SELECTOR
   #change-alpha {
      position: relative;
      .icon {
         width: 32px;
         height: 28px;
         border: $default-br;
         cursor: pointer;
         border-radius: 6px;
         display: flex;
         justify-content: center;
         img {
            width: 20px;
         }
      }

      .menu {
         position: absolute;
         top: 32px;
         left: 0;
         background-color: white;
         border: $default-br;
         border-radius: 8px;
         display: flex;
         height: 27px;
         width: 160px;
         align-items: center;
         justify-content: center;

         #alpha-slider {
            -webkit-appearance: none;
            appearance: none;
            background-color: rgb(213, 225, 231);
            height: 7px;
            border: 1px solid rgb(104, 112, 116);
            border-radius: 5px;
            outline: none;

            &::-webkit-slider-thumb {
               -webkit-appearance: none;
               appearance: none;
               width: 16px;
               height: 16px;
               border: 3px solid rgb(69, 81, 97);
               border-radius: 100%;
               background: rgb(213, 225, 231);
               cursor: pointer;
            }

            &::-moz-range-thumb {
               width: 16px;
               height: 16px;
               border: 3px solid rgb(69, 81, 97);
               border-radius: 100%;
               background: rgb(213, 225, 231);
               cursor: pointer;
            }
         }
      }
   }

   // COLOR SELECTOR
   #change-color {
      width: 30px;
      display: flex;
      align-items: center;
      cursor: pointer;
      border: $default-br;
      border-radius: 6px;
      background-color: white;
      input {
         padding: 0;
         cursor: pointer;
         background-color: transparent;
         border: none;
         width: 29px;
         height: 100%;
         &::-webkit-color-swatch {
            border-radius: 5px;
            border: none;
         }
         &::-moz-color-swatch {
            border-radius: 5px;
            border: none;
         }
      }
   }

   // FLIP HORIZONTAL-VERTICAL-BACK-FRONT
   #flip-horizontal,
   #flip-vertical,
   #flip-back,
   #flip-front {
      button {
         background: none;
         border: $default-br;
         border-radius: 6px;
         cursor: pointer;
         height: 100%;
      }
      img {
         width: 22px;
      }
   }
}

// PAGE CONTROLLER
#page-controller {
   margin-left: auto;
   width: min-content;
   height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 99999;
   // GENERAL CONTROL ELEMENT
   .el {
      padding: 0 4px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   #undo,
   #redo {
      button {
         height: 100%;
         background: none;
         border: $default-br;
         border-radius: 100%;
         cursor: pointer;
      }
      img {
         width: 16px;
      }

      &.is-disabled {
         button {
            cursor: not-allowed;
         }
         img {
            filter: opacity(0.4);
         }
      }
   }
}

// ELEMENT
.element {
   position: absolute;
   touch-action: none;
   box-sizing: border-box;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 300px;
   border: $element-br-transparent;

   // ACTIVE CONTROL DISPLAY
   &.is-active {
      border: $element-br;
      .controls {
         display: flex !important;
      }
      .thumb {
         display: unset;
      }
   }

   // NO BORDER WHEN PASSIVE
   .item {
      resize: none;
      border: none;
      width: 100%;
      height: 100%;
      background: none;
      padding: 1rem;
   }

   // BASIC CONTROLS
   .controls {
      display: none;
      position: absolute;
      bottom: 10px;
      width: 100px;
      height: 24px;
      justify-content: center;
      overflow: hidden;
      background-color: white;
      border-radius: 12px;
      border: $controls-br;
      padding: 5px;
      .delete-handle,
      .rotation-handle,
      .move-handle {
         margin: 0 5px;
         cursor: pointer;
      }
   }

   // THUMBS
   .thumb {
      display: none;
      position: absolute;
      width: 9px;
      height: 9px;
      background: white;
      border: $element-br;

      &.tl {
         top: 0;
         left: 0;
         margin-top: -8px;
         margin-left: -8px;
      }

      &.tr {
         top: 0;
         right: 0;
         margin-top: -8px;
         margin-right: -8px;
      }

      &.bl {
         bottom: 0;
         left: 0;
         margin-bottom: -8px;
         margin-left: -8px;
      }

      &.br {
         bottom: 0;
         right: 0;
         margin-bottom: -8px;
         margin-right: -8px;
      }
   }

   // IMAGE
   &.is-image .item {
      padding: 0;
   }

   // TEXT
   &.is-text {
      .item {
         -ms-overflow-style: none;
         scrollbar-width: none;
         &::-webkit-scrollbar {
            display: none;
         }
         &:focus {
            outline: none !important;
         }
      }
   }
}
