.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.book {
  margin: 1rem;
  border: 1px solid #e2e6eb;
  overflow: hidden;
  border-radius: 12px;
}

.book .page {
  border: none;
  width: 100%;
  height: 100%;
}

.element {
  position: relative;
  border-radius: 12px;
  -ms-touch-action: none;
      touch-action: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.element .item {
  width: 100%;
}

.element.is-active .controls {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.controls {
  position: absolute;
  bottom: -30px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 22px;
  overflow: hidden;
}

.controls .delete-handle,
.controls .rotation-handle,
.controls .move-handle {
  margin: 0 5px;
  cursor: pointer;
}

.controller {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  border: 1px solid #e2e6eb;
  border-radius: 12px;
}

.controller .el {
  padding: 0 4px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.controller #toggle-bold,
.controller #toggle-italic,
.controller #toggle-strike {
  position: relative;
}

.controller #toggle-bold input,
.controller #toggle-italic input,
.controller #toggle-strike input {
  display: none;
}

.controller #toggle-bold input:checked + label,
.controller #toggle-italic input:checked + label,
.controller #toggle-strike input:checked + label {
  background-color: #f1f1f1;
}

.controller #toggle-bold label,
.controller #toggle-italic label,
.controller #toggle-strike label {
  cursor: pointer;
  border: 1px solid #e2e6eb;
  border-radius: 6px;
  width: 30px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.controller #change-font select {
  width: 130px;
  border: 1px solid #e2e6eb;
  padding: 8px 12px;
  border-radius: 10px;
  background: none;
}

.controller #change-font-size select {
  width: 80px;
  border: 1px solid #e2e6eb;
  padding: 8px 12px;
  border-radius: 10px;
  background: none;
}

.controller #change-align {
  border: 1px solid #e2e6eb;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  padding: 0;
  width: 32px;
}

.controller #change-align .selected {
  width: 24px;
  padding: 3px 4px;
  border-radius: 5px;
}

.controller #change-align .selected:hover {
  background-color: #f1f1f1;
}

.controller #change-align .menu {
  overflow: hidden;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 26px;
  left: 0;
  right: 0;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: 1px solid #e2e6eb;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.controller #change-align .menu img {
  width: 24px;
  padding: 2px 4px;
  height: 30px;
}

.controller #change-align .menu img:hover {
  background-color: #f1f1f1;
}

.controller #change-color input {
  width: 32px;
  height: 32px;
  padding: 2px;
  border: 1px solid #e2e6eb;
  border-radius: 6px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.controller #change-color input::-webkit-color-swatch {
  border-radius: 5px;
  border: none;
}

.controller #change-color input::-moz-color-swatch {
  border-radius: 5px;
  border: none;
}

.controller #flip-horizontal button,
.controller #flip-vertical button,
.controller #flip-back button,
.controller #flip-front button {
  background: none;
  border: 1px solid #e2e6eb;
  border-radius: 6px;
  cursor: pointer;
}

.element.is-image {
  width: 180px;
  min-width: 100px;
}

.element img.item {
  border: none;
}

.element.is-active img.item {
  border: 1px solid #e2e6eb;
  border-radius: 16px;
}

.element.is-text {
  min-width: 200px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  max-width: 100%;
}

.element textarea.item {
  resize: none;
  overflow: scroll;
  min-height: 50px;
  padding: 1rem;
  background: none;
  border: none;
  border-radius: 16px;
  cursor: move !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.element textarea.item::-webkit-scrollbar {
  display: none;
}

.element.is-active textarea.item {
  resize: both;
  border: 1px solid #e2e6eb !important;
  border-radius: 16px;
  cursor: text !important;
}

.has-display-none {
  display: none !important;
}
/*# sourceMappingURL=main.css.map */