.is-hd {
   .page {
      width: 1080px;
      height: 768px;
   }
}

.is-fhd {
   .page {
      width: 1920px;
      height: 1080px;
   }
}

.is-hdv {
   .page {
      width: 768px;
      height: 1080px;
   }
}

.is-fhdv {
   .page {
      width: 1080px;
      height: 1920px;
   }
}

.is-square600 {
   .page {
      width: 600px;
      height: 600px;
   }
}
