.is-hd {
   #active-page {
      width: 1080px;
      height: 768px;
   }
   #controller {
      width: 1080px;
   }
}

.is-fhd {
   #active-page {
      width: 1920px;
      height: 1080px;
   }

   #controller {
      width: 1920px;
   }
}

.is-hdv {
   #active-page {
      width: 768px;
      height: 1080px;
   }
   #controller {
      width: 768px;
   }
}

.is-fhdv {
   #active-page {
      width: 1080px;
      height: 1920px;
   }
   #controller {
      width: 1080px;
   }
}
