body {
  width: 1000px;
  margin: auto;
  margin-top: 120px;
}

#preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid green;
}

#preview .page {
  padding: 10px;
  margin-top: 1rem;
  display: block;
  border: 1px solid #e2e6eb;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.element {
  position: absolute;
  -ms-touch-action: none;
      touch-action: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.element .item {
  resize: none;
  border: none;
  width: 100%;
  height: 100%;
  background: none;
  padding: 1rem;
  cursor: default;
}

.element.is-image {
  width: 300px;
}

.element.is-image .item {
  padding: 0;
}

.element.is-text {
  width: 300px;
}

.element.is-text .item {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.element.is-text .item::-webkit-scrollbar {
  display: none;
}

.element.is-text .item:focus {
  outline: none !important;
}

.element.is-audio {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  cursor: unset;
  height: 40px;
}

.element.is-audio .item {
  cursor: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.element.is-audio .item img {
  width: 36px;
  height: 36px;
}

.element.is-audio .item a {
  margin-left: 10px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  font-family: sans-serif;
  color: #6983db;
  font-weight: bold;
}

.element.is-audio.hide-links {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.element.is-audio.hide-links .item {
  cursor: pointer;
}

.element.is-audio.hide-links .item img {
  width: 48px;
  height: 48px;
}

.element.is-audio.hide-links .item a {
  display: none;
}

.element.is-video {
  width: 300px;
}

.element.is-video .item {
  border-radius: 12px;
  overflow: hidden;
  padding: 0;
}

.element.is-video .item.link {
  border-radius: 0;
  cursor: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.element.is-video .item.link img {
  width: 36px;
  height: 36px;
}

.element.is-video .item.link a {
  margin-left: 10px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  font-family: sans-serif;
  color: #6983db;
  font-weight: bold;
}
/*# sourceMappingURL=preview.css.map */